body {
  background-color: black;

}
h2{
  text-align: left;
  
}

img {
  display: block;
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-top: 29%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20;
  font-weight: lighter;
}
header {
  text-align: center;
  background-color: green;
  font-family: arial;
  letter-spacing: -.5px;
  font-size: 14px
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  grid-template-rows: 170px;
  margin: auto;
  padding: 2px;
  
}
.grid .item {
  background-color: rgb(42,48,48);

}



.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  grid-template-rows: 170px;
  margin: auto;
  padding: 5px;
  
}
.grid2 .item {
  background-color: rgb(42,48,48);
}

.grid .item {
  background-color: rgb(42,48,48);
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  grid-template-rows: 170px;
  margin: auto;
  padding: 5px;
  
}
.grid3 .item {
  background-color: rgb(42,48,48);
  text-align: left;  
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 5px;
  grid-template-rows: 170px;
  margin: auto;
  padding: 5px;
  
}
.grid3 .item {
  background-color: rgb(42,48,48);
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-column-gap: 5px;
  grid-template-rows: 170px;
  margin: auto;
  padding: 5px;
  align-content: center;
  justify-content: center;
  
}
.grid4 .item {
  background-color: rgb(42,48,48);
}

footer {
    background-color: rgb(22,28,28);
    color: rgb(42,66,66);
    line-height: 3px;
   } 


.image2{

  width:75px;
  height:45px; 
  justify-content: left;

}

.image5{

  width:80px;
  height:45px; 
  display: inline-block;
  margin-left: 360px;

}
.image6{

  width:80px;
  height:45px; 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}
.image12{

  width:80px;
  height:45px; 
  display: inline-block;
  justify-content: right;

}
.content {
    width:100px;
    background: rgba(100, 100, 100, .2);
    color: white;
    font-size: 12px;
}

