body {
  background-color: black;
  justify-content: center;
  align-content: center;

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  min-height: 100%
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid; color: black;
  padding: 10px;

}

h1 {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: helvetica;
}

h2 {
  color: darkgrey;
  text-align: center;
  font-size: 16px;
  font-family: helvetica;
}

p{
  color: white;
  text-align: center;
}


header {
  font-family: helvetica;
  font-style: italic;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  size: 100px;
  color: white;
  margin-left: auto;
  margin-right:auto;
}
.fa-spotify {
  size: 100px;
  color: white;
  margin-left: auto;
  margin-right:auto;
}
.fa-linkedin {
  size: 100px;
  color: white;
  margin-left: auto;
  margin-right:auto;
}
.sidenav {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {

  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  list-style-position: 10px;
}
footer {
  display: inline-block;
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-left: 1180px;
  color: white;
  background-color: red;

}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
audio {
  display:block;
  margin-right: auto;
  margin-left: auto;

}
.stroke {
  color: grey;
  text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000;;
}