body {
  display: inline-block;
  background-color: blue;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  min-height: 100%
  margin: auto;
  width: 60%;
  margin-bottom: auto;
  padding-top: 350px;

}
button {
  color: black;
  padding: 10px;
  background-color: white;

}
